
		<div class="container">
			<div class="col-sm-8 col-sm-offset-2">
				<ul class="nav nav-tabs">
					<li><a href="javascript:void(0)" class="tablink" onclick="openScreen(event, 'SCProfile');">My profile</a></li>
					<li><a href="javascript:void(0)" class="tablink" onclick="openScreen(event, 'SCEditCV');">Create CV</a></li>
					<li><a href="javascript:void(0)" class="tablink" onclick="openScreen(event, 'SCShowAll');">My CVs</a></li>
				</ul>
				
				<div id="SCProfile" class="container screen">
					<h2>My profile</h2>
					<p>Paris is the capital of Brasil.</p>
				</div>

				<div id="SCShowAll" class="container screen">
					<h2>My CVs</h2>
					<table class="table">
						<tr>
						  <th>CV Name</th>
						  <th>Date created</th>
						  <th>Date modified</th>
						</tr>
						<tr>
						  <td><a href="javascript:void(0)">My Web-Dev CV</a></td>
						  <td>31/04/2016 4:30pm</td>
						  <td>08/11/2016 2:15pm</td>
						</tr>
						<tr>
						  <td><a href="javascript:void(0)">My Sales CV</a></td>
						  <td>20/05/2016 4:30pm</td>
						  <td>16/10/2016 2:15pm</td>
						</tr>
						<tr>
						  <td><a href="javascript:void(0)">My Mobile-Dev CV</a></td>
						  <td>28/01/2016 4:30pm</td>
						  <td>28/01/2016 2:15pm</td>
						</tr>
					  </table>
				</div>
				
				<div id="SCEditCV" class="container screen"> 
                    <div class="col-sm-8">
					
						<!-- Here enters all CV ediding code -->
					
				    </div>
                </div>
			</div>
		</div>

		
