
<section id="logo" layout="row" layout-align="center center" layout-wrap layout-sm="column" >
    <div layout-gt-xs="row">
			<img src="images/logoLogin.png" style="">
    </div>
</section>


<section id="content" layout="row" layout-align="center center" layout-wrap layout-sm="column">

                <!--SIGN IN start-->
    
      

        <div ng-cloak class="col-md-3 col-sm-3 col-xs-3" ng-controller="LoginController as loginController" ng-cloak >
            
            <section id="signinForm" layout-align="center center">


                <div layout-gt-xs="row">
                  <md-input-container class="md-block"  flex-gt-xs>

                        <h2 class="text-center">Sign in</h2>

                        <h4  style="color:red">{{loginController.msg}}</h4>

                        <md-input-container class="md-block" flex-gt-sm> 
                             <label>Student Id</label>
                                <input class="inputBlackColor" type="text"  name="username" id="username" required ng-model="loginController.username">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm> 
                                <label>Password</label>
                                <input class="inputBlackColor" type="password" name="password" id="password" required  ng-model="loginController.password">
                            <a href="/forgotpass">Forgot your password?</a>
                        </md-input-container>
                      <div class='text-center'>
                        <md-button class="md-raised md-primary" ng-click="loginController.signin()" >Sign in</md-button>
                      </div>
                      

                    </md-input-container> 
                </div>



      </section>
    </div>
            <!--SIGN IN ENDS-->
    
    
    
    <div class="col-md-2 col-sm-2 col-xs-2" align="middle">
			<img src="images/split.png" style="height:300px;">
	</div>
    
    
            <!-- REGISTER -->
    
    <div ng-cloak class="col-md-3 col-sm-3 col-xs-3" ng-controller="RegisterController as registerController">
        
         <section id="registerForm" layout-align="center center">



            <div layout-gt-xs="row">
        
              <md-input-container class="md-block" flex-gt-xs>

                  <h2 class="text-center">Register</h2>
	
                    <md-input-container class="md-block" flex-gt-sm> 
                         <label>Student Id</label>
                            <input class="inputBlackColor" type="text" name="username" id="username" required  ng-model="registerController.studentid">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm> 
                            <label>Authorization Code</label>
                            <input class="inputBlackColor" type="password" name="password" id="passwprd" required  ng-model="registerController.authcode">
                    </md-input-container>
                    <div class="text-center">
                        <md-button class="md-raised md-primary" ng-click="registerController.register()">
                            Register
                        </md-button>
                    </div>
                </md-input-container> 
            </div>
             
        </section>
      
    </div>
  
</section>



<section id="content" layout="row" layout-align="center center" layout-wrap layout-sm="column">
    
    <div ng-cloak class="container text-center" ng-controller="LoginController as loginController">
	
      <md-button class="md-raised md-primary" ng-click="loginController.gak()">Generate Authorization Code</md-button>
  
    </div>
</section>




  
