<section id="logo" layout="row" layout-align="center center" layout-wrap layout-sm="column" >
    <div layout-gt-xs="row">
			<img src="images/logoLogin.png" style="">
    </div>
</section>
		  
             <div class="col-sm-6 col-sm-offset-3"  ng-controller="GenAuthkeyController as genauthkeycontroller" ng-cloak>
                 
                 <section id="generatekey" layout="row" layout-align="center center" layout-wrap layout-sm="column" >
                  
                   <md-input-container class="md-block"  flex-gt-sm> 
                    
                        <md-input-container class="md-block"> 
                             <label>Student Id</label>
                             <input class="inputBlackColor" type="text" name="genauthkey[studentid]" id="username" required autofocus ng-model='genauthkeycontroller.studentid'>
                            <h6>{{genauthkeycontroller.msg}}</h6>
                        </md-input-container>
                       
                        <md-input-container class="md-block"> 
                       
                        <h3>Authorization key: {{genauthkeycontroller.authCode}}</h3>
                       </md-input-container>
                       
                        <md-button class="md-raised md-primary"  ng-click="genauthkeycontroller.submit()">Generate Code</md-button>  
<!--
                    <a href="/register">
					 <md-button class="md-raised md-primary">Back</md-button>
				    </a>
-->
                 </md-input-container>  
                       
              </section>
            </div>



