<div ng-controller='LoginController as loginController'>
		
    <div ng-cloak class="container">
      <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="My Profile">
            <md-content class="md-padding">
              <h1 class="md-display-2">Welcome {{loginController.firstname}} {{loginController.lastname}}</h1>
                <h2></h2>
                <p>Paris is the capital of Brasil.</p>
            </md-content>
          </md-tab>
          <md-tab label="Create CV">
            <md-content class="md-padding">
<!--              START HERE-->
                
<div ng-cloak>
  <md-content>
      
      <section layout="row" layout-align="center center" layout-wrap layout-sm="column">
          <md-input-container>
          <label>CV Name</label>
          <input  ng-model="loginController.cvname"/>
              {{loginController.cvname}}
          </md-input-container>
          <md-button class="md-raised md-primary" ng-click="loginController.createcv()">Create CV</md-button>
      </section>
      <input value="{{loginController.cv}}" ng-model="loginController.cvid" readonly hidden>
      
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Personal Info">
        <md-content class="md-padding">
          <h1 class="md-display-2">Personal Information</h1>
            
            

<div ng-controller="DemoCtrl" layout="column" ng-cloak class="md-inline-form">

  <md-content layout-padding>
    <div>
      <form name="userForm">



        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>First name</label>
            <input ng-model="loginController.student.firstname">

          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Last Name</label>
            <input ng-model="loginController.student.lastname">
          </md-input-container>
        </div>
        <div layout-gt-sm="row">

        <md-input-container class="md-block">
          <label>Address</label>
          <input ng-model="loginController.student.address">
        </md-input-container>
            
          <md-input-container class="md-block" >
            <label>Postal Code</label>
            <input name="postalCode" ng-model="loginController.student.postcode" placeholder="12345"
                   required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
          </md-input-container>
            
        <md-input-container class="md-block">
          <label>Phone</label>
          <input ng-model="loginController.student.phone">
        </md-input-container>
    
        <md-input-container class="md-block">
          <label>Email</label>
          <input ng-model="loginController.student.email">
        </md-input-container>
            
            <md-input-container class="md-block">
          <label>LinkedIn (optional)</label>
          <input ng-model="loginController.student.linkedin">
        </md-input-container>
            
            <md-input-container class="md-block">
          <label>Website (optional)</label>
          <input ng-model="loginController.student.website">
        </md-input-container>
            

        </div>
          
          <md-button ng-click='loginController.cvpersonalinfo()'> Submit </md-button>

      </form>
    </div>
  </md-content>

</div>


            
        </md-content>
      </md-tab>
      <md-tab label="Personal Statement">
        <md-content class="md-padding">
          <h1 class="md-display-2">Personal statement</h1>
          
        </md-content>
      </md-tab>
      <md-tab label="Experience">
        <md-content class="md-padding">
          <h1 class="md-display-2">Experience</h1>

        </md-content>
      </md-tab>
      <md-tab label="Education">
    <md-content class="md-padding">
      <h1 class="md-display-2">Education</h1>

    </md-content>
  </md-tab>
         <md-tab label="Key Skills & Competencies">
    <md-content class="md-padding">
      <h1 class="md-display-2">Key Skills</h1>

    </md-content>
  </md-tab>
    </md-tabs>
  </md-content>
</div>
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
<!--                END HERE-->
            </md-content>
          </md-tab>
          <md-tab label="My CV">
            <md-content class="md-padding">
                                    <h2>My CVs</h2>
                        <table class="table">
                            <tr>
                              <th>CV Name</th>
                              <th>Date created</th>
                              <th>Date modified</th>
                            </tr>
                            <tr>
                              <td><a href="javascript:void(0)">My Web-Dev CV</a></td>
                              <td>31/04/2016 4:30pm</td>
                              <td>08/11/2016 2:15pm</td>
                            </tr>
                            <tr>
                              <td><a href="javascript:void(0)">My Sales CV</a></td>
                              <td>20/05/2016 4:30pm</td>
                              <td>16/10/2016 2:15pm</td>
                            </tr>
                            <tr>
                              <td><a href="javascript:void(0)">My Mobile-Dev CV</a></td>
                              <td>28/01/2016 4:30pm</td>
                              <td>28/01/2016 2:15pm</td>
                            </tr>
                          </table>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-content>
    </div>
</div>

		
