
<div ng-controller='LoginController as loginController'>

    
    
<div ng-cloak style="font-size: 50px">
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <h2>
          <span>EDENZ CV Generator</span>
        </h2>
        <span flex></span>
          <h3>{{loginController.studentinfo.firstname }} {{loginController.studentinfo.lastname}}</h3>

      </div>
    </md-toolbar>
    </div>
    <div>
<md-content>
        <md-tabs  md-dynamic-height md-border-bottom>
            
<!--MY PROFILE-->
         
          <md-tab label="My Profile">
            <md-content class="md-padding">
                <div class="alert alert-success" id="myprofileAddedMessage" ng-if="myprofileAddedMessage" role="alert">Successfully updated profile!</div>
                
                 <div layout="column" ng-cloak class="md-inline-form">

  <md-content style="background-color: transparent" layout-padding>
    <div>

        
                <input type="hidden" name="studentid" class="form-control" id="studentid"  ng-model="studentregController.studentid" value="{{studentregController.studentid}}" readonly>
        <input type="hidden" name="authcode" class="form-control" id="authcode"  ng-model="studentregController.authcode" value="{{studentregController.authcode}}" readonly>


        <md-input-container class="md-block">
          <label>Address</label>
          <input value="{{loginController.studentinfo.address}}" ng-model="loginController.studentinfo.address">
        </md-input-container>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Phone</label>
            <input value="{{loginController.studentinfo.phone}}" ng-model="loginController.studentinfo.phone">
          </md-input-container>
            
            <md-input-container class="md-block" flex-gt-sm>
            <label>Email</label>
            <input value="{{loginController.studentinfo.email}}" ng-model="loginController.studentinfo.email">
          </md-input-container>

        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Linkedin Profile</label>
            <input value="{{loginController.studentinfo.linkedin}}" ng-model="loginController.studentinfo.linkedin">
          </md-input-container>
            
            <md-input-container class="md-block" flex-gt-sm>
            <label>Website/Portfolio</label>
            <input value="{{loginController.studentinfo.website}}" ng-model="loginController.studentinfo.website">
          </md-input-container>
        </div>

        <md-button class="md-raised md-primary" ng-click="loginController.updateProfile()">Update Profile</md-button>
    </div>
  </md-content>

</div>
                
                
                
                
                
                
            </md-content>
          </md-tab>
<!--MY PROFILE-->   
          <md-tab label="Create CV">
            <md-content class="md-padding">
<!--START HERE-->
                
<div ng-cloak>
  <md-content>
      
      <section id="createcvname" layout="row" layout-align="center center" layout-wrap layout-sm="column" ng-if="loginController.cv === ''">
          <md-input-container>
          <label>CV Name</label>
          <input  ng-model="loginController.cvname"/>
          </md-input-container>
          <md-button class="md-raised md-primary" ng-click="loginController.createcv()">Create CV</md-button>
      </section>
      
     <section id="createdcvname" layout-align="center center" layout-wrap layout-sm="column" ng-if="loginController.cv != null && loginController.cv != ''">
        <h2 class="text-center">{{loginController.cvname}}</h2>
    </section>
      
      
      
      
      <input value="{{loginController.cv}}" ng-model="loginController.cvid" readonly hidden>
      
      
    <md-tabs  id="cvcontent" md-dynamic-height md-border-bottom ng-show='loginController.cv != "" && loginController.cv != null'>
        <md-tab label="Personal Info">
         
         <md-content class="md-padding">
           
             <div class="alert alert-success" id="personalInfoAddedMessage" ng-if="personalInfoAddedMessage" role="alert">Successfully updated Personal Info!</div>
            <md-content layout-padding>

 
 
 
 
<md-input-container class="md-block">
           <label>Address</label>
           <input ng-model="personalInfo.address" value="{{personalInfo.address}}">
         </md-input-container>
             
        <div layout-gt-sm="row">
             
         <md-input-container class="md-block" flex-gt-sm>
           <label>Phone</label>
           <input ng-model="personalInfo.phone" value="{{personalInfo.phone}}">
         </md-input-container>
     
         <md-input-container class="md-block" flex-gt-sm>
           <label>Email</label>
           <input ng-model="personalInfo.email" value="{{personalInfo.email}}">
         </md-input-container>
            
         </div>
         
         <div layout-gt-sm="row">
             
             <md-input-container class="md-block" flex-gt-sm>
           <label>LinkedIn (optional)</label>
           <input ng-model="personalInfo.linkedin" value="{{personalInfo.linkedin}}">
         </md-input-container>
             
             <md-input-container class="md-block" flex-gt-sm>
           <label>Website (optional)</label>
           <input ng-model="personalInfo.website" value="{{personalInfo.website}}">
         </md-input-container>
             
 
         </div>
           
           <md-button class="md-raised md-primary" ng-click='piSubmit()'> Save </md-button>
           


   </md-content>
 
 
 
 
             
         </md-content>
       </md-tab>
        
        
        
        
        
        
        
      
      <md-tab label="Personal Statement">
        <md-content class="md-padding">
            <div class="alert alert-success" id="personalStatementAddedMessage" ng-if="personalStatementAddedMessage" role="alert">Successfully updated Personal Statement!</div>
        
        <md-input-container class="md-block">
         <label>Personal Statement</label>
                <textarea ng-model="cvpersonalstatement" value="{{cvpersonalstatement}}"  md-select-on-focus ></textarea>
             <md-button class="md-raised md-primary" ng-click='psSubmit()'> Save </md-button>
        </md-input-container>
        
        </md-content>
      </md-tab>
       
<!--SKILLS-->
         <md-tab label="Key Skills & Competencies">
    <md-content class="md-padding">
        <div class="alert alert-success" id="skillsAddedMessage" ng-if="skillsAddedMessage" role="alert">Successfully added a Skill!</div>
      
        <md-input-container class="md-block">
          <label>Name</label>
          <input ng-model="cvskill.name">
        </md-input-container>
<form>
        <md-input-container class="md-block">
         <label>Description</label>
<!--                <textarea id="todolist" class="todolist" name="todolist" ng-model="cvskill.description"  rows="10" md-select-on-focus ></textarea>-->
           <input ng-model="cvskill.description">     
             <md-button class="md-raised md-primary" ng-click='skillsubmit()'> Save </md-button>
        </md-input-container>
        <md-button class="md-raised md-primary" data-toggle="modal" data-target="#skillsModal"> Example </md-button>
</form>
        
        <div ng-repeat="info in tableskill">
        <h3>{{info.name}}</h3>
        <h4>{{info.description}}</h4>
        </div>
        
    </md-content>
  </md-tab>       
       

        
<!--EXPERIENCE-->
      <md-tab label="Experience">
        <md-content class="md-padding">
  <md-content layout-padding>

        
     <div class="alert alert-info" role="alert" id="editExperienceMessage" ng-if="editExperienceMessage">You're on edit mode</div>
        
<div id="experrormessage" ng-if="expErrorMessage" class="alert alert-danger" role="alert">Fill-up all the input fields to submit </div>
<div class="alert alert-success" id="expAddedMessage" ng-if="experienceAddedMessage" role="alert">Successfully added experience!</div>
 <div ng-if="experienceForm">      

         <div layout-gt-sm="row">

          <md-input-container class="md-block" flex-gt-sm>
            <label>Role</label>
            <input id="experienceRole" ng-model="cvexperience.role">
          </md-input-container>
        </div>
        
        
        <div layout-gt-sm="row">

        <md-input-container class="md-block" flex-gt-sm>
          <label>Company</label>
          <input id="experienceCompany" ng-model="cvexperience.company">
        </md-input-container>
            
          <md-input-container class="md-block" flex-gt-sm>
            <label>Company Description (optional)</label>
            <input id="experienceCompanyDescription" ng-model="cvexperience.companydesc">
          </md-input-container>
            
        </div>
        
        <div layout-gt-sm="row">
            
        <md-input-container class="md-block" flex-gt-sm>
          <label>City</label>
          <input id="experienceCity" ng-model="cvexperience.city">
        </md-input-container>
    
        <md-input-container class="md-block" flex-gt-sm>
          <label>Country</label>
          <input id="experienceCountry" ng-model="cvexperience.country">
        </md-input-container>

        
        
        <md-input-container>
            <label>Start date</label>
            <md-datepicker id="experienceStartdate" ng-model="cvexperience.startdate" md-open-on-focus></md-datepicker>
        </md-input-container>
        
        <md-input-container>
            <label>End date</label>
            <md-datepicker id="experienceEnddate" ng-model="cvexperience.enddate" md-open-on-focus></md-datepicker>
        </md-input-container>
            
        </div>
            
        <md-button ng-if="submitExp" id="experienceSubmit" type="submit" class="md-raised md-primary" ng-click="expsubmit()"> Save </md-button>
        
        <div ng-if="submitEditExp">
            <md-button  id="experienceSubmit" type="submit" class="md-raised md-primary" ng-click="expUpdatedSubmit()">Save</md-button> 
            <md-button type="submit" class="md-raised md-warn" ng-click="expUpdateCancel()">Cancel</md-button> 
        </div>

        <div ng-if="listOfExperience" id="listOfExperience">
            <h3 class="text-center">List of Experiences</h3>
            <div class="row">
                    <div class="col-sm-12"> 
                        <div class="table-responsive">
                            <br>
                            <table class="table  table-hover" id="tableExperience">
                                <thead>
                                    <tr >
                                        <th class="text-center"><h4>Action</h4></th>
                                        <th class="text-center"><h4>Role</h4></th>
                                        <th class="text-center"><h4>Company</h4></th>
                                        <th class="text-center"><h4>Company Description</h4></th>
                                        <th class="text-center"><h4>City</h4></th> 
                                        <th class="text-center"><h4>Country</h4></th>
                                        <th class="text-center"><h4>Start Date</h4></th>
                                        <th class="text-center"><h4>End Date</h4></th> 
                                    </tr>
                                </thead>
                                <tbody ng-repeat='info in tableexp'>
                                    <div class="expContent"> 
                                        <tr class="text-center">
                                        <td class="text-center">  
                                            <span class="glyphicon glyphicon glyphicon-pencil" ng-click="editExpBTN()"></span>&nbsp;&nbsp;
                                            <span class="glyphicon glyphicon glyphicon-trash" ng-click="deleteExperience()"></span>
                                            <span style="font-size: 15px">/</span>
                                            <span class="glyphicon glyphicon-list-alt" ng-click="openExperienceResponsibilities()"></span>
                                            <i class="fa fa-trophy" aria-hidden="true" ng-click="openExperienceAchievements()"></i>
                                        </td>
                                        <td class="expRole">{{info.role}}</td>
                                        <td class="expCompany">{{info.company}}</td>
                                        <td class="expCompanyDesc">{{info.companydescription}}</td>
                                        <td class="expCity">{{info.city}}</td>
                                        <td class="expCountry">{{info.country}}</td>
                                        <td class="expStartdate">{{info.startdate}}</td>
                                        <td class="expEnddate">{{info.enddate}}</td>
                                        </tr>
                                    </div>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
    </div>		
</div> 



 <div ng-if="expResponsibilitiesField">
       <md-input-container class="md-block" flex-gt-sm>
        <label>Responsibilities</label>
        <input ng-model="expResponsibilities.text">
        <div ng-if="expResponsibilitiesFieldSubmitButtons">
            <md-button class="md-raised md-primary" ng-click="submitExpResponsibilities()">Add Responsibilities</md-button>
            <md-button class="md-raised md-warn" ng-click="closeExpResp()">Go Back</md-button>
        </div>
        <div ng-if="expResponsibilitiesFieldEditButton">
           <md-button class="md-raised md-primary" ng-click="updatedExpResponsibilities()">Update</md-button>
            <md-button class="md-raised md-warn" ng-click="cancelEditExpResponsibilities()">Cancel</md-button>
        </div>
       </md-input-container>

        <div ng-repeat="expResponsibilities in showExperienceResponsibilities" ng-if="expResponsibilitiesInfos">
            <h2>{{expResponsibilities.text}}</h2>
            <span class="glyphicon glyphicon glyphicon-pencil" ng-click="editExpResponsibilities()"></span>&nbsp;&nbsp;
            <span class="glyphicon glyphicon glyphicon-trash" ng-click="deleteExpResponsibilities()"></span>
        </div>
</div>
      
<!-- Experience achievements     -->
      
<div ng-if="expAchievementsField">
       <md-input-container class="md-block" flex-gt-sm>
        <label>Achievements</label>
        <input ng-model="expAchievements.text">
        <div ng-if="expAchievementsFieldSubmitButtons">
            <md-button class="md-raised md-primary" ng-click="submitExpAchievements()">Add Achievements</md-button>
            <md-button class="md-raised md-warn" ng-click="closeExpAch()">Go Back</md-button>
        </div>
        <div ng-if="expAchievementsFieldEditButton">
           <md-button class="md-raised md-primary" ng-click="updateExpAchievements()">Update</md-button>
            <md-button class="md-raised md-warn" ng-click="cancelExpAchievements()">Cancel</md-button>
        </div>
       </md-input-container>

        <div ng-repeat="expAch in showExpAch" ng-if="expAchInfos">
            <h2>{{expAch.text}}</h2>
            <span class="glyphicon glyphicon glyphicon-pencil" ng-click="editExpAchievements()"></span>&nbsp;&nbsp;
            <span class="glyphicon glyphicon glyphicon-trash" ng-click="deleteExpAchievements()"></span>
        </div>
</div>

<!----end ach---->


  </md-content>

<!--
   <div>
        <h2>List of Experiences</h2>
       <ul id="experienceContent" ng-repeat="info in tableexp">
         <span>
             <strong>
                 <h3>
                     {{info.company}} - <em>{{info.role}}</em> 
                     <span style="float:right">
                         <span class="glyphicon glyphicon glyphicon-pencil" ng-click="editExpBTN()"></span>&nbsp;&nbsp;
                         <span class="glyphicon glyphicon glyphicon-trash" ng-click="deleteExperience()"></span>
                     </span>
                 </h3>
             </strong>
           </span>
         <hr />
        <li>
            <h5>
                Company Description: {{info.companydescription}}
            </h5>
        </li>
        <li>
            <h5>
                City: {{info.city}}
            </h5>
        </li>
        <li>
            <h5>
                Country: {{info.country}}
            </h5>
        </li>
        <li>
            <h5>
                Start Date: {{info.startdate}}
            </h5>
        </li>
        <li>
            <h5>
                End Date: {{info.enddate}}
            </h5>
        </li>
         
         <hr class="style-four">   
              </ul>               
            </div>
-->

   
       
       
       
       
       
       
       
       
       
       
       
        </md-content>
      </md-tab>
        
        

        
<!--EDUCATION-->
<md-tab label="Education">
    <md-content class="md-padding">
       <md-content layout-padding>
            <div class="alert alert-info" role="alert" id="editEducationMessage" ng-if="editEducationMessage">Editing mode</div>

<div id="eduerrormessage" ng-if="eduErrorMessage" class="alert alert-danger" role="alert">Fill-up all the input fields to submit </div>
<div class="alert alert-success" id="eduAddedMessage" ng-if="educationAddedMessage" role="alert">Successfully added education!</div>
  <div ng-if="educationForm">
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Name of Qualification</label>
            <input ng-model="cveducation.qualification">

          </md-input-container>
            
            <md-input-container class="md-block" flex-gt-sm>
                <label>Institution</label>
                <input ng-model="cveducation.institution">
            </md-input-container>
        </div>
        
        
        <div layout-gt-sm="row">        
        <md-input-container class="md-block" flex-gt-sm>
          <label>City</label>
          <input ng-model="cveducation.city">
        </md-input-container>
    
        <md-input-container class="md-block" flex-gt-sm>
          <label>Country</label>
          <input ng-model="cveducation.country">
        </md-input-container>
       
        <md-input-container>
            <label>Start date</label>
            <md-datepicker ng-model="cveducation.startdate" md-open-on-focus></md-datepicker>
        </md-input-container>
        
        <md-input-container>
            <label>End date</label>
            <md-datepicker ng-model="cveducation.enddate" md-open-on-focus></md-datepicker>
        </md-input-container>
        </div>
            
          <md-button ng-if="submitEducation" class="md-raised md-primary" ng-click='edusubmit()'> Save </md-button>
          
        <div ng-if="submitUpdatedEducation"> 
            <md-button class="md-raised md-primary" ng-click='submitEditedEducation()'>Update</md-button>
            <md-button class="md-raised md-warn" ng-click='eduUpdateCancel()'>Cancel</md-button>
        </div> 
<!--
    <div>
        <h2>List of Qualifications</h2>
       <ul id="experienceContent" ng-repeat="info in tableeducation">
         <span>
             <strong>
                 <h3>
                     {{info.qualification}}
                     <span style="float:right">
                         <span class="glyphicon glyphicon glyphicon-pencil" ng-click="editEducationButton()"></span>&nbsp;&nbsp;
                         <span class="glyphicon glyphicon glyphicon-trash" ng-click="deleteEducation()"></span>
                     </span>
                 </h3>
             </strong>
           </span>
         <hr />
        <li>
            <h5>
                Institution: {{info.institution}}
            </h5>
        </li>
        <li>
            <h5>
                City: {{info.city}}
            </h5>
        </li>
        <li>
            <h5>
                Country: {{info.country}}
            </h5>
        </li>
        <li>
            <h5>
                Start Date: {{info.startdate}}
            </h5>
        </li>
        <li>
            <h5>
                End Date: {{info.enddate}}
            </h5>
        </li>
         
        <h3>
            Papers
              <i class="fa fa-plus-circle" style="color: green"></i>
        </h3>    
    
        <h3>
            Achievements
            <span style="font-size: 17px; color: blue" class="glyphicon glyphicon-plus-sign" ng-click="openEducationProjects()"></span>
        </h3>   
            <ul>
                <li>
                    hey
                </li>
                <li>Yoow</li>
            </ul>
        <h3>
            Projects
            <span style="font-size: 17px; color: blue" class="glyphicon glyphicon-plus-sign" ng-click="openEducationAchievements()"></span>
        </h3>   
            <ul>
                <li>
                    hey
                </li>
                <li>Yoow</li>
            </ul>      
         <hr class="style-four">   
       </ul>
       
       
                               
</div>       
-->

       
       
        
    <div ng-if="listOfQualification" id="listOfQualification">
        <h3 class="text-center">List of Qualifications</h3>
        <div class="row">
                <div class="col-sm-12"> 
                    <div class="table-responsive">
                        <br>
                        <table class="table  table-hover" id="tableEducation">
                            <thead>
                                <tr>
                                    <th class="text-center"><h4></h4></th>
                                    <th class="text-center"><h4>Qualification</h4></th>
                                    <th class="text-center"><h4>Institution</h4></th> 
                                    <th class="text-center"><h4>City</h4></th> 
                                    <th class="text-center"><h4>Country</h4></th>
                                    <th class="text-center"><h4>Start Date</h4></th>
                                    <th class="text-center"><h4>End Date</h4></th> 
                                </tr>
                            </thead>
                            <tbody ng-repeat='info in tableeducation'>
                                <td class="text-center">  
                                    <span class="glyphicon glyphicon glyphicon-pencil" ng-click="editEducationButton()"></span>&nbsp;&nbsp;
                                    <span class="glyphicon glyphicon glyphicon-trash" ng-click="deleteEducation()"></span>
                                    <span style="font-size: 15px">/</span>
                                    <span class="glyphicon glyphicon-list-alt" ng-click="openPapers()"></span> 
                                    <span class="glyphicon glyphicon-briefcase" ng-click="openEducationProjects()"></span>
                                    <i class="fa fa-trophy" ng-click="openEducationAchievements()" aria-hidden="true"></i>
                                    
                                </td>
                                <td class="text-center">{{info.qualification}}</td>
                                <td class="text-center">{{info.institution}}</td>
                                <td class="text-center">{{info.city}}</td>
                                <td class="text-center">{{info.country}}</td>
                                <td class="text-center">{{info.startdate}}</td>
                                <td class="text-center">{{info.enddate}}</td>
                                
 
                            </tbody>                     
                        </table>      
                    </div>
                </div>
            </div>
	</div>					
</div> 
     <div ng-if="papersField">
           <md-input-container class="md-block" flex-gt-sm>
            <label>Paper Name</label>
            <input ng-model="paper.name">
                        <div ng-if="paperFieldSubmitButtons">
                <md-button class="md-raised md-primary" ng-click="submitPaper()">Add Paper</md-button>
                <md-button class="md-raised md-warn" ng-click="closePaper()">Go Back</md-button>
            </div>
            <div ng-if="paperFieldEditButton">
               <md-button class="md-raised md-primary" ng-click="updateEducationPaper()">Update</md-button>
                <md-button class="md-raised md-warn" ng-click="cancelEditEducationPaper()">Cancel</md-button>
            </div>
           </md-input-container>
           
            <div ng-repeat="papers in showEducationPapers" ng-if="paperInfos">
                <h2>{{papers.name}}</h2>
                <span class="glyphicon glyphicon glyphicon-pencil" ng-click="editEducationPaper()"></span>&nbsp;&nbsp;
                <span class="glyphicon glyphicon glyphicon-trash" ng-click="deleteEducationPaper()"></span>
            </div>
     </div>
     
        <div ng-if="educationProjectsField">
           <md-input-container class="md-block" flex-gt-sm>
            <label>Project Name</label>
            <input ng-model="educationProject.name">
           </md-input-container>
           
            <md-input-container class="md-block" flex-gt-sm>
            <label>Project Description</label>
            <input ng-model="educationProject.description">
           </md-input-container>
           
            <div ng-if="educationProjectSubmitButtons">
                <md-button class="md-raised md-primary" ng-click="submitEducationProject()">Add Project</md-button>
                <md-button class="md-raised md-warn" ng-click="closeEducationProject()">Go Back</md-button>
            </div>
            <div ng-if="educationProjectEditButton">
               <md-button class="md-raised md-primary" ng-click="updateEducationProject()">Update</md-button>
                <md-button class="md-raised md-warn" ng-click="cancelEditEducationProject()">Cancel</md-button>
            </div>
           
           
            <div ng-repeat="eduProject in showEducationProjects" ng-if="educationProjectInfos">
                <h2>{{eduProject.name}}</h2>
                <h3>{{eduProject.description}}</h3>
                <span class="glyphicon glyphicon glyphicon-pencil" ng-click="editEducationProject()"></span>&nbsp;&nbsp;
                <span class="glyphicon glyphicon glyphicon-trash" ng-click="deleteEducationProject()"></span>
            </div>
     </div>
     
     
     
     <div ng-if="educationAchievementsField">
           <md-input-container class="md-block" flex-gt-sm>
            <label>Achievement</label>
            <input ng-model="educationAchievement.name">
            <div ng-if="educationAchievementSubmitButtons">
                <md-button class="md-raised md-primary" ng-click="submitEducationAchievement()">Add Achievement</md-button>
                <md-button class="md-raised md-warn" ng-click="closeEducationAchievement()">Go Back</md-button>
            </div>
            <div ng-if="educationAchievementEditButton">
               <md-button class="md-raised md-primary" ng-click="updateEducationAchievement()">Update</md-button>
                <md-button class="md-raised md-warn" ng-click="cancelEditEducationAchievement()">Cancel</md-button>
            </div>
           </md-input-container>
           
            <div ng-repeat="eduAchievement in showEducationAchievements" ng-if="educationAchievementInfos">
                <h2>{{eduAchievement.name}}</h2>
                <span class="glyphicon glyphicon glyphicon-pencil" ng-click="editEducationAchievement()"></span>&nbsp;&nbsp;
                <span class="glyphicon glyphicon glyphicon-trash" ng-click="deleteEducationAchievement()"></span>
            </div>
     </div>
 
  </md-content>        
        
        
        
                      
                                                      
              
   
      </md-tab>
 
    
       
       
       
       
       
       
        
            
                
                    
                            
        
        
        



    </md-content>
</md-tab>
        
        
        
        
        
        
        

    </md-tabs>
  </md-content>
</div>
                
                
               
                
                
                
                
                
                
                
                
                
                
<!--                END HERE-->
            </md-content>
          </md-tab>
          <md-tab label="My CV">
            <md-content class="md-padding">
                                    <h2>My CVs</h2>
                        <table class="table">
                            <tr>
                              <th>CV Name</th>
                              <th>Date created</th>
                              <th>Date modified</th>
                            </tr>
                            <tr>
                              <td><a href="javascript:void(0)">My Web-Dev CV</a></td>
                              <td>31/04/2016 4:30pm</td>
                              <td>08/11/2016 2:15pm</td>
                            </tr>
                            <tr>
                              <td><a href="javascript:void(0)">My Sales CV</a></td>
                              <td>20/05/2016 4:30pm</td>
                              <td>16/10/2016 2:15pm</td>
                            </tr>
                            <tr>
                              <td><a href="javascript:void(0)">My Mobile-Dev CV</a></td>
                              <td>28/01/2016 4:30pm</td>
                              <td>28/01/2016 2:15pm</td>
                            </tr>
                          </table>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-content>
    </div>
    
    
    


<!-- Modal -->
<div class="modal fade" id="skillsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Example of Skills</h4>
      </div>
      <div class="modal-body" ng-controller="SkillExampleController as skillExampleCtrl">
                   <table class="table  table-hover">
               <thead>
                   <tr>
                       <th>Skill</th>
                       <th>Skill Description</th>
                   </tr>
               </thead>
               <tbody ng-repeat="skill in skillExampleData">
                   <tr ng-click="skillAdd()" data-dismiss="modal">
                       <td>{{skill.title}}</td>
                       <td>{{skill.description}}</td>
                   </tr>
               </tbody>
           </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Exit</button>
      </div>
    </div>
  </div>
</div>
    
    
</div>


