<div ng-cloak class="container" style="font-size: 50px" ng-init="showw()">
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <h2>
          <span>Add Personal Statement Example</span>
        </h2>
      </div>
    </md-toolbar>
</div> 




<div class='container'>       
    <input ng-model="exPersonalStatement">
    <button ng-click="submitPS()">Add Personal Statement</button> 
   

    <h2>Personal Statement:</h2>
    <div ng-repeat="exps in showExPS">
<h4>{{exps.text}}</h4>
    </div>  
</div>                                                    
           