<div class="container" ng-controller="StudentRegController as studentregController">
            <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>
        <h1>
          <span>Register</span>
        </h1>
        <span flex></span>
            <h2>Student id: <strong>{{studentregController.studentid}}</strong></h2>
          <h3></h3>

      </div>
    </md-toolbar>
    
    <div layout="column" ng-cloak class="md-inline-form">

  <md-content layout-padding>
    <div>

        
                <input type="hidden" name="studentid" class="form-control" id="studentid"  ng-model="studentregController.studentid" value="{{studentregController.studentid}}" readonly>
        <input type="hidden" name="authcode" class="form-control" id="authcode"  ng-model="studentregController.authcode" value="{{studentregController.authcode}}" readonly>
        <div layout-gt-sm="row">
            
            
          <md-input-container class="md-block" flex-gt-sm>
            <label>First name (Given name)</label>
            <input ng-model="studentregController.firstname">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Last Name (Surname)</label>
            <input ng-model="studentregController.lastname">
          </md-input-container>
        </div>

        <md-input-container class="md-block">
          <label>Address</label>
          <input ng-model="studentregController.address">
        </md-input-container>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Phone</label>
            <input ng-model="studentregController.phone">
          </md-input-container>
            
            <md-input-container class="md-block" flex-gt-sm>
            <label>Email</label>
            <input ng-model="studentregController.email">
          </md-input-container>

        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Linkedin Profile (optional)</label>
            <input ng-model="studentregController.linkedin">
          </md-input-container>
            
            <md-input-container class="md-block" flex-gt-sm>
            <label>Website/Portfolio (optional)</label>
            <input ng-model="studentregController.website">
          </md-input-container>
        </div>
        
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Password</label>
            <input type="password" id="pass1" required ng-model="studentregController.password">
          </md-input-container>
            
            <md-input-container class="md-block" flex-gt-sm>
            <label>Confirm Password</label>
            <input type="password" id="pass2">
          </md-input-container>
        </div>
        
                <span>
            <h4>{{studentregController.message}}</h4>
        </span>
        <md-button class="md-raised md-primary" ng-click="studentregController.register()">Register</md-button>
    </div>
  </md-content>

</div>

</div>