<div class="container">

<div ng-cloak style="font-size: 50px">
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <h2>
          <span>Add Category</span>
        </h2>
        <span flex></span>
      </div>
    </md-toolbar>
</div>   
      
<div ng-controller="SkillExampleController as skillExampleCtrl" ng-init="showSkillCategory()">              
    <input ng-model="exSkillCategory">
    <button ng-click="addSkillCategory()">Add Category</button>  

    <h4>Categories:</h4>
         <ul ng-repeat="skill in showExSkillCategory">
           <li>{{skill.category}}</li>
         </ul>                                                    
                      
         
         
<div ng-cloak class="container" style="font-size: 50px">
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <h2>
          <span>Add Skill</span>
        </h2>
        <span flex></span>
      </div>
    </md-toolbar>
</div>  
         
         
     
 
             
<select ng-model="skillCategory">
    <option value="" disabled selected>Select Category</option>
    <option  ng-repeat="skill in showExSkillCategory" value="{{skill._id}}">{{skill.category}}</option>
</select>

<label>Skill Name</label>
<input ng-model="skill.name">
        
<label>Skill Description</label>
<input ng-model="skill.desc">

<button ng-click="addSkillNameDesc()">Add Skill</button>


  <div class="ui accordion" ng-controller="SkillExampleController as skillExampleCtrl">
    <div ng-repeat="skill in showExSkillCategory">
      <div class="title">
        <i class="dropdown icon"></i>
        {{skill.category}}
      </div>
      <div class="content">
        <div id="{{skill._id}}" class="transition visible">
                <table class="table table-striped table-responsive">
                    <thead>
                      <tr>
                        <th>Skill</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-click="getSkillExample()" data-dismiss="modal" ng-repeat="theskill in skill.skill">
                        <td>{{theskill.name}}</td>
                        <td>{{theskill.description}}</td>
                      </tr>
                    </tbody>
              </table>
            </div>
      </div>
    </div>   
</div>

 
         

     
         
         
         
         
         
         

         
</div>           
         
       </div>  
         
         
         
         
         
         
        